@import "tailwindcss";

#root {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@layer base {
}

@layer components {
  .input__field {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-slate-500 focus:border-slate-500 block w-full p-2.5;
  }
  .btn {
    @apply font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 cursor-pointer;
  }
  .btn__primary {
    @apply text-white bg-slate-700 hover:bg-slate-800 focus:ring-4 focus:ring-slate-300;
  }
}
