body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background-color: rgba(241, 238, 238, 0.888);
}

.root {
  width: 100%;
  height: 100%;
  background-color: aqua;
}
